{% extends "base.html" %}
{% load static %}

{% block content %}

 <!-- Heading section  -->

  <div class="text-center mt-12">
    <h3 class="text-base font-medium font-poppins leading-6 tracking-widest my-2">The Blog</h3>
    <h1 class="text-5xl font-medium font-poppins  tracking-widest ">Writings From our team</h1>
    <p class="text-xs font-light font-poppins tracking-wide mt-4">The latest industry news , Technologies and
      Resources</p>
  </div>

  <!-- Post section  -->
  <div>
    <div class="w-10/12 mx-auto space-y-6 my-8">
      <!-- post-1  -->
      <div
        class="post-1 my-shadow w-full rounded-2xl mb-16  bg-cover bg-center bg-no-repeat min-h-[300px] sm:min-h-[400px] md:min-h-[500px] relative">
        <div
          class="w-full rounded-b-2xl min-h-[80px] absolute bottom-0 left-0 bg-black bg-opacity-50 flex flex-col justify-center items-start p-4 box-border">
          <p class="text-xl text-white">JS Technova Team</p>
          <p class="text-sm text-gray-200 mt-2 description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Iste corrupti
            fugit
            ex? Quae nobis at natus, et debitis delectus in expedita, neque cumque officiis cum vero, consequatur saepe
            aspernatur nihil!</p>
          <span class="show-more">Read More</span>
        </div>
      </div>

      <!-- post-2 and post-3 in the same row -->
      <div class="flex flex-col sm:flex-row md:space-x-4 ">
        <!-- post-2 -->
        <div
          class="post-2  my-shadow sm:w-2/5 w-full  mb-16 sm:mr-4 rounded-2xl bg-cover bg-center bg-no-repeat min-h-[300px] sm:min-h-[400px] md:min-h-[320px] relative">
          <div
            class="w-full rounded-b-2xl min-h-[80px] absolute bottom-0 left-0 bg-black bg-opacity-50 flex flex-col justify-center items-start p-4 box-border">
            <p class="text-xl text-white">Meeting with team</p>
            <p class="text-sm text-gray-200 mt-2 description">Lorem ipsum doloris delectus in expedita, neque cumque
              officiis cum
              vero,
              consequatur
              saepe aspernatur nihil!</p>
            <span class="show-more">Read More</span>

          </div>
        </div>

        <!-- post-3 -->
        <div
          class="post-3 my-shadow w-full sm:w-3/5 mb-16 rounded-2xl bg-cover bg-center bg-no-repeat min-h-[300px] sm:min-h-[400px] md:min-h-[320px] relative">
          <div
            class="w-full rounded-b-2xl min-h-[80px] absolute bottom-0 left-0 bg-black bg-opacity-50 flex flex-col justify-center items-start p-4 box-border">
            <p class="text-xl text-white">Olivia James. 2 Jan 2024</p>
            <p class="text-sm text-gray-200 mt-2 description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Iste corrupti
              fugit ex? Quae nobis at natus, et debitis delectus in expedita, neque cumque officiis cum vero,
              consequatur
              saepe aspernatur nihil!</p>
            <span class="show-more">Read More</span>
          </div>
        </div>

        
      </div>

    </div>

  </div>

  <div>
    <div class="w-10/12 mx-auto space-y-6 my-8">
      <!-- post-1  -->
      <div
        class="post-1 my-shadow w-full rounded-2xl mb-16  bg-cover bg-center bg-no-repeat min-h-[300px] sm:min-h-[400px] md:min-h-[500px] relative">
        <div
          class="w-full rounded-b-2xl min-h-[80px] absolute bottom-0 left-0 bg-black bg-opacity-50 flex flex-col justify-center items-start p-4 box-border">
          <p class="text-xl text-white">JS Technova Team</p>
          <p class="text-sm text-gray-200 mt-2 description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Iste
            corrupti
            fugit
            ex? Quae nobis at natus, et debitis delectus in expedita, neque cumque officiis cum vero, consequatur saepe
            aspernatur nihil!</p>
          <span class="show-more">Read More</span>
        </div>
      </div>

      <!-- post-2 and post-3 in the same row -->
      <div class="flex flex-col sm:flex-row md:space-x-4 ">
        <!-- post-2 -->
        <div
          class="post-2  my-shadow sm:w-2/5 w-full  mb-16 sm:mr-4 rounded-2xl bg-cover bg-center bg-no-repeat min-h-[300px] sm:min-h-[400px] md:min-h-[320px] relative">
          <div
            class="w-full rounded-b-2xl min-h-[80px] absolute bottom-0 left-0 bg-black bg-opacity-50 flex flex-col justify-center items-start p-4 box-border">
            <p class="text-xl text-white">Meeting with team</p>
            <p class="text-sm text-gray-200 mt-2 description">Lorem ipsum doloris delectus in expedita, neque cumque
              officiis cum
              vero,
              consequatur
              saepe aspernatur nihil!</p>
            <span class="show-more">Read More</span>

          </div>
        </div>

        <!-- post-3 -->
        <div
          class="post-3 my-shadow w-full sm:w-3/5 mb-16 rounded-2xl bg-cover bg-center bg-no-repeat min-h-[300px] sm:min-h-[400px] md:min-h-[320px] relative">
          <div
            class="w-full rounded-b-2xl min-h-[80px] absolute bottom-0 left-0 bg-black bg-opacity-50 flex flex-col justify-center items-start p-4 box-border">
            <p class="text-xl text-white">Olivia James. 2 Jan 2024</p>
            <p class="text-sm text-gray-200 mt-2 description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Iste corrupti
              fugit ex? Quae nobis at natus, et debitis delectus in expedita, neque cumque officiis cum vero,
              consequatur
              saepe aspernatur nihil!</p>
            <span class="show-more">Read More</span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <hr>

  <!-- video section  -->
  <div class="w-10/12  mx-auto space-y-6 my-8">
    <h2 class="text-2xl font-semibold font-poppins text-center mb-4">JS Technova Team Meeting </h2>
    <div class="w-3/5 mx-auto my-shadow rounded-2xl overflow-hidden mt-8">
      <div class="relative pb-[56.25%] h-0 w-full ">
        <video class=" absolute top-0 left-0 w-full h-full" autoplay loop muted controls>
          <source src="..//res/media/teamVideo.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>


{% endblock %}
