{% load static %}
<footer class="bg-gradient-to-r mt-16 rounded-t-3xl from-[#37436A] to-[#65459C] text-white px-[25px] lg:px-[50px]">
  <!-- Centered Logo with "JS Technova" on the Right -->
    <div class="flex items-center justify-center gap-2 py-12">
    <div class="w-12">
      <img src="{% static 'media/LogoIcon.png' %}" alt="logo" class="w-full h-full object-contain object-center" />
    </div>
    <h1 class="font-racing text-2xl text-white">
    Technova
    </h1>
    </div>
  
  <!-- Footer Links and Contact Sections -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-12 mx-auto px-4">
    <!-- Service Section -->
    <div>
      <h3 class="text-2xl font-poppins font-semibold mb-4">Service</h3>
      <ul class="list-none font-poppins space-y-1 text-[16px] font-regular *:cursor-pointer">
      <li>Web Development</li>
      <li>App Development</li>
      <li>Data Science</li>
      </ul>
    </div>
  
    <!-- Quick Links Section -->
    <div>
      <h3 class="text-2xl font-poppins font-semibold mb-4">Quick Links</h3>
      <ul class="list-none font-poppins space-y-1 text-[16px] font-regular *:cursor-pointer">
      <li><a href="/#about">About US</a></li>
      <li><a href="/team">Core Team</a></li>
      <li>Careers</li>
      <li><a href="/feedback">Feedback</a></li>
      </ul>
    </div>
  
    <!-- Support Section -->
    <div>
      <h3 class="text-2xl font-poppins font-semibold mb-4">Support</h3>
      <ul class="list-none font-poppins space-y-1 text-[16px] font-regular *:cursor-pointer">
      <li onclick="Fetch('TnC')">Terms and Conditions</li>
      <li onclick="Fetch('PrivacyPolicy')">Privacy and Policy</li>
      <li onclick="Fetch('RefundPolicy')">Refund Policy</li>
      </ul>
    </div>
  
    <!-- Contact Us Section -->
    <div>
      <h3 class="text-2xl font-poppins font-semibold mb-4">Contact Us</h3>
      <address class="not-italic space-y-1">
      <div>
        <i class="fas fa-map-marker-alt mr-2"></i> Lucknow, Uttar Pradesh
      </div>
      <div>
        <i class="fas fa-envelope mr-2"></i>
        <a href="mailto:support@jstechnova.in" class="footer-links"
        >support@jstechnova.in</a
        >
      </div>
      <div><i class="fas fa-phone-alt me-2 rotate-90"></i> +91-6388735208</div>
      <div><i class="fas fa-phone-alt me-2 rotate-90"></i> +91-7571864656</div>
      <div><i class="fas fa-phone-alt me-2 rotate-90"></i> +91-8881868541</div>
      </address>
    </div>
  
    </div>
  
  
  <!-- Social Media Icons -->
    <div class="flex justify-center gap-6 mt-8">
    <a href="mailto:support@jstechnova.in" class="footer-links">
      <i class="fas fa-envelope text-2xl"></i>
    </a>
    <a href="https://www.facebook.com/profile.php?id=61561483215796" class="footer-links">
      <i class="fab fa-facebook text-2xl"></i>
    </a>
    <a href="https://www.instagram.com/js_technova/" class="footer-links">
      <i class="fab fa-instagram text-2xl"></i>
    </a>
    <a href="https://twitter.com" class="footer-links">
      <i class="fab fa-twitter text-2xl"></i>
    </a>
    <a href="https://www.linkedin.com/company/js-technova/?viewAsMember=true" class="footer-links">
      <i class="fab fa-linkedin text-2xl"></i>
    </a>
    <a href="https://www.youtube.com/@JsTechnova/featured" class="footer-links">
      <i class="fab fa-youtube text-2xl"></i>
    </a>
    </div>
  
  <!-- Copyright -->
    <p class="text-center mt-8">
    Copyright © 2024. All rights reserved by JS Technova
    </p>
</footer>