
<dialog id="modal">
    <div id="modal-backlayer" class="h-full overflow-y-scroll py-10 w-full fixed top-0 left-0 z-50 bg-black/50">
        <div class="h-full flex max-w-screen-md md:mx-auto mx-4">
            <div class="relative bg-white p-6 m-auto FadeUp">
                <form class="absolute top-2 right-2" method="dialog">
                    <button onclick="" class="rounded-full hover:text-white text-red-500 hover:bg-red-500">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="size-8">
                            <path strokeLinecap="round" strokeLinejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                          </svg>				  
                    </button>
                </form>
                <div id="modal-content"></div>
            </div>
        </div>
    </div>
</dialog>